<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Data akun bank</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">MyApp</li>
      <li class="breadcrumb-item active" aria-current="page">Data akun bank</li>
    </ol>
  </div>

  <button
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Tambah Data
  </button>

  <div class="card mb-3">
    <div class="card-header">Bank Sendiri</div>
    <div class="card-body">
      <h5 class="card-title">Anggara</h5>
      <span class="card-text"><b>Email: </b> testemail047@gmail.com</span><br />
      <span class="card-text"><b>Password: </b> Rahasia</span>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">Bank Test</div>
    <div class="card-body">
      <h5 class="card-title">Anggara</h5>
      <span class="card-text"><b>Email: </b> testemail047@gmail.com</span><br />
      <span class="card-text"><b>Password: </b> Rahasia</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Bank Danantara</div>
    <div class="card-body">
      <h5 class="card-title">Anggara</h5>
      <span class="card-text"><b>Email: </b> testemail047@gmail.com</span><br />
      <span class="card-text"><b>Password: </b> Rahasia</span>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" />
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputId" class="col-sm-2 col-form-label">Id</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputId" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword" class="col-sm-2 col-form-label"
            >Password</label
          >
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPIN" class="col-sm-2 col-form-label">PIN</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPIN" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
